body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    touch-action: none;
}

#root,.app{
    width:100%;
    height:100%;
    position: absolute;
    overflow: hidden
}

.cube-container {
    transform-style: preserve-3d;
    perspective: 400px;
    width:100%;
    height:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cube {
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    position: absolute;
    left: calc( 50% - 25px );
    top:calc( 50% - 25px );
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cube .face {
    border: 2px solid #333;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    position: absolute;
    box-sizing: border-box;
    background:rgb(56, 56, 56);
}

.cube .face.front {
    transform: translateZ(25px) rotate(0deg)
}

.cube .face.back {
    transform: translateZ(-25px) rotate(0deg)
}

.cube .face.top {
    transform: rotateX(-90deg) translateY(-25px);
    transform-origin: top center;
}

.cube .face.bottom {
    transform: rotateX(90deg) translateY(25px);
    transform-origin: bottom center;
}

.cube .face.left {
    transform: rotateY(270deg) translateX(-25px);
    transform-origin: center left;
}

.cube .face.right {
    transform: rotateY(-270deg) translateX(25px);
    transform-origin: center right;
}

.github-fork-ribbon {
    background-attachment:scroll;
    background-clip:border-box;
    background-color:rgba(0, 0, 0, 0);
    background-origin:padding-box;
    background-position-x:0px;
    background-position-y:0px;
    background-size:auto;
    color:rgb(204, 0, 0);
    cursor:pointer;
    display:block;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:13px;
    font-weight:400;
    position:absolute;
    right:0px;
    text-decoration-color:rgb(204, 0, 0);
    text-decoration-line:none;
    text-decoration-style:solid;
    top:0px;
    z-index:9999;
    text-indent: -9999px;
}

.github-fork-ribbon:before{
    content: "";
    padding: .38em 0;
    background-color: #f80;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
}
.github-fork-ribbon:after{
    content: attr(data-ribbon);
    color: #fff;
    font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.54em;
    text-decoration: none;
    text-shadow: 0 -0.08em rgba(0, 0, 0, 0.5);
    text-align: center;
    text-indent: 0;
    padding: .15em 0;
    margin: .15em 0;
    border-width: .08em 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon:before,.github-fork-ribbon:after{
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.54em;
    top: 3.23em;
    right: -3.23em;
    transform: rotate(45deg);
    box-sizing: content-box;
}